body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-wrap: break-word;
  font-family: 'Noto Sans', sans-serif;
  color: #0C0920;
}

a {
  color: initial;
  text-decoration: none;
}

/* header */

h1 {
  font-family: 'Reenie Beanie', cursive;
}

.navbar {
  background: #609A7D;
}

h1,
.nav-link {
  color: #F3F3F7;
}

.nav-link:hover {
  text-decoration: underline;
  color: #BDB9B3;
}

/* main */ 

h2 {
  font-family: 'Baloo Bhaina 2', sans-serif;
  font-weight: 700;
}

h3,
h2 {
  text-align: center;
  margin: 1rem;
}

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, #609A7D 0%, #F3F3F7 25%, #F3F3F7 75%, #609A7D);
}

section {
  padding: 1rem;
}

#about, 
#services {
  max-width: 800px;
  margin: 2rem;
}

.container-fluid {
  display: flex;
}

.image-container {
  margin: 1rem;
  display: flex;
  align-items: center;
}

.about-image, 
.services-image {
  max-width: 200px;
  bottom: 0;
  right: 0;

}/* form */

#form, 
label {
  text-align: center;
  color: #BDB9B3;
}

#form {
  margin: auto;
  margin-bottom: 1rem;
}

.form__contact {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 75vw;;
}

sup {
  color: red;
}

#informations, 
#message {
  border: #BDB9B3 solid 1.5px;
  border-radius: 5px;
  position: inherit;
  width: auto;
}

fieldset > legend {
  float: none;
  width: auto;
  color: #609A7D;
}

.h2Form {
  color: #609A7D;
}

input, 
textarea {
  border: #BDB9B3 solid 1px;
  border-radius: 5px;
  padding: 0.5rem;
}
.form__name, 
.form__mail, 
.form__message {
  display: flex;
  flex-direction: column;
  margin: 1%;
}

.form__button {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.btnSend,
.btnSendNo {
  color: white;
  border: 10px;
  font-weight: bold;
  border: solid 1px #BDB9B3;
  margin-bottom: 0.5rem;
}

.btnSend {
  background-color: #609A7D;
}

.btnSend:hover {
  background: white;
  color: #609A7D;
  transition-duration: 0.5s;
}

.btnSendNo {
  background-color: white;
  color: red;
}

.btnSendNo:hover{
  background: red;
  color: white;
  transition-duration: 0.5s;
}

/* footer */

.footer {
  background: #BDB9B3;
  padding: 5px;
}

ul {
  display: flex;
  justify-content: space-evenly;
}
.footer,
.footer ul > li > a {
  color: #F3F3F7;
}

.footer ul {
  list-style-type: none;
}

.footer ul > li > a:hover {
  text-decoration: underline;
}