body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  word-wrap: break-word;
  font-family: 'Baloo Bhaina 2', sans-serif;
  font-family: 'Noto Sans', sans-serif;
  font-family: 'Reenie Beanie', cursive;
}

a {
  color: initial;
  text-decoration: none;
}

/* header */



/* main */ 



/* form */

#form, 
label {
  text-align: center;
  color: #989898;
}

#form {
  margin-bottom: 1rem;
}

.form__contact {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 75vw;;
}

sup {
  color: red;
}

#informations, 
#message {
  border: #989898 solid 1.5px;
  border-radius: 5px;
  position: inherit;
  width: auto;
}

fieldset > legend {
  float: none;
  width: auto;
}

input, 
textarea {
  border: #989898 solid 1px;
  border-radius: 5px;
  padding: 0.5rem;
}
.form__name, 
.form__mail, 
.form__message {
  display: flex;
  flex-direction: column;
  margin: 1%;
}

.form__button {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.btnSend,
.btnSendNo {
  color: white;
  border: 10px;
  font-weight: bold;
  border: solid 1px #989898;
  margin-bottom: 0.5rem;
}

.btnSend {
  background-color: #989898;
}

.btnSend:hover {
  background: white;
  color: #989898;
  transition-duration: 0.5s;
}

.btnSendNo {
  background-color: white;
  color: red;
}

.btnSendNo:hover{
  background: red;
  color: white;
  transition-duration: 0.5s;
}

/* footer */

